appdirs==1.4.3
asn1crypto==0.24.0
astroid==2.4.2
attrs==19.3.0
Automat==0.7.0
bandit==1.6.2
beautifulsoup4==4.7.1
bs4==0.0.1
cachetools==3.1.0
certifi==2018.11.29
cffi==1.14.0
chardet==3.0.4
Click==7.0
constantly==15.1.0
cryptography==3.2
cssselect==1.0.3
gitdb==4.0.5
GitPython==3.1.11
google-api-python-client==1.7.8
google-auth==1.6.3
google-auth-httplib2==0.0.3
httplib2==0.18.0
hyperlink==18.0.0
idna==2.8
incremental==17.5.0
isort==5.6.4
lazy-object-proxy==1.4.3
lxml==4.2.5
mccabe==0.6.1
mypy==0.790
mypy-extensions==0.4.3
parsel==1.5.1
pathspec==0.7.0
pbr==5.5.1
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycparser==2.19
PyDispatcher==2.0.5
PyHamcrest==1.9.0
pylint==2.6.0
pyOpenSSL==18.0.0
python-dateutil==2.8.0
python-dotenv==0.10.1
PyYAML==5.1.2
queuelib==1.5.0
regex==2019.12.20
requests==2.21.0
rsa==4.0
Scrapy==1.5.1
service-identity==18.1.0
six==1.12.0
smmap==3.0.4
soupsieve==1.9.1
spotipy==2.4.4
stevedore==3.2.2
toml==0.10.0
Twisted==20.3.0
typed-ast==1.4.0
typing-extensions==3.7.4.3
uritemplate==3.0.0
urllib3==1.24.2
w3lib==1.19.0
wrapt==1.12.1
yamllint==1.25.0
zope.interface==4.6.0
